.cms .gridfield-better-buttons-prevnext.disabled { opacity: 0.3; filter: alpha(opacity=30); }

.cms .gridfield-better-buttons-prevnext img { height:7px; vertical-align:1px; }

.cms .gridfield-better-buttons-prevnext .ui-button-text { line-height:1; }

.cms .gridfield-better-buttons-next { margin-right:12px; }

.cms .gridfield-better-buttons-undodelete {
	display:none;
	float:right;
	margin-left:10px;
}

.cms .better-buttons-frontend-links {
	float:right;
	margin-top:7px;
}

.cms .better-buttons-utils {
	position: fixed;
	text-align:right;
	top: 10px;
	z-index:70;
	right:10px;
}
